@font-face {
  font-family: "Khand";
  src: url("/resources/fonts/IRANYekanRegular.ttf");
}
@font-face {
  font-family: "IRANSansX";
  src: url("/resources/fonts/IRANSansX-Regular.ttf");
}
@font-face {
  font-family: "IR_Kelma";
  src: url("/resources/fonts/Kalameh-ExtraBold.ttf");
}
@font-face {
  font-family: "Keania_One";
  src: url("/resources/fonts/KeaniaOne-Regular.ttf");
}
@font-face {
  font-family: "Khand_Numerals";
  src: url("/resources/fonts/Kalameh\(FaNum\)-Regular.ttf");
}
@font-face {
  font-family: "IR_Kelma_Numerals";
  src: url("/resources/fonts/IRANYekanExtraBoldFaNum.ttf");
}
.reviewStars input:not(:checked) ~ label:hover,
.reviewStars input:not(:checked) ~ label:hover ~ label > svg > path {
  fill: #facc15;
}
.reviewStars input:checked ~ label > svg > path {
  fill: #facc15;
}
.swiper-pagination-bullet {
  background-color: #035146 !important;
  opacity: 100%;
  transition: opacity 500ms;
  padding: 2.5vw !important;
}
.products .swiper-button-next,
.products .swiper-button-prev,
.reviews .swiper-button-next,
.reviews .swiper-button-prev {
  color: #fff !important;
  background-color: rgba(3, 81, 70, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.products .swiper-button-next::after,
.products .swiper-button-prev::after,
.reviews .swiper-button-next::after,
.reviews .swiper-button-prev::after {
  display: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
